form {
      width: 90%;
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #e7e2e2;
      box-shadow: 0 0 10px rgba(0, 0, 0);
}
form h1{
      text-align: center;
      font-family: fantasy;
      font-size: 30px;
}
form h1, label {
      color: #0a8bd1;
}

label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      float: left;
}

input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
}
input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
}
.option{
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
}

input[type="submit"] {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      width: 100%;
      cursor: pointer;
}

input[type="submit"]:hover {
      background-color: #45a049;
}

input::placeholder {
      color: #737379;
      font-style: italic;
      font-family: monospace;
}
.btn{
      text-align: center;
      color: #0a8bd1;
      font-size: 20px;
      margin-left: 30px;
      margin-right: 30px;
      flex-wrap: wrap;
}
.btn a{
      margin-left: 5px;
      flex-wrap: wrap;
}